@model EAD.Onlineclass.Dominio.Cursos

@{
    ViewBag.Title = "ExcluirCurso";
}

<h2>ExcluirCurso</h2>

<h3>Voce realmente deseja excluir este curso?</h3>
<fieldset>
    <legend>Cursos</legend>
    <div class="display-field">
        @Html.HiddenFor(model => model.CursoId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomeDoCurso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeDoCurso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
